<div>
  <h1 class="mt-0">Sistema de Gerenciamento de Usuários</h1>

  <p>
    Seja bem vindo(a) ao Sistema de Gerenciamento de Usuários. Você poderá criar uma conta
    e acessar seu perfil.
  </p>
  <p>Algumas funções só estarão disponíveis para o administrador do sistema.</p>

  <div class="flex mt-5 justify-content-center sm:justify-content-start gap-3">
    <p-button
      label="Login"
      [outlined]="true"
      severity="secondary"
      routerLink="/usuarios/cadastro"></p-button>
    <p-button
      label="Cadastrar"
      [raised]="true"
      severity="secondary"
      routerLink="/autenticacao/login"></p-button>
  </div>
</div>
