<div class="flex justify-content-between align-items-center mb-3">
  <h3>Bem vindo(a), {{ administrador }},</h3>

  <i class="pi pi-sign-out cursor-pointer text-2xl" routerLink="/"></i>
</div>

<p-panel header="Lista de clientes">
  <ng-container *ngIf="usuarios$ | async as usuarios">
    <p-table [value]="usuarios" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>CPF</th>
          <th>Nome</th>
          <th>Nascimento</th>
          <th>Telefone</th>
          <th>Email</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usuario>
        <tr>
          <td>{{ usuario.cpf }}</td>
          <td>{{ usuario.nome }}</td>
          <td>{{ usuario.data_nascimento }}</td>
          <td>{{ usuario.telefone }}</td>
          <td>{{ usuario.email }}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</p-panel>
