<div class="flex justify-content-between align-items-center mb-3">
  <h3>Olá, {{ funcionarioAutenticado }}</h3>

  <i class="pi pi-sign-out cursor-pointer text-2xl" routerLink="/"></i>
</div>

<ng-container *ngIf="funcionarios$ | async as funcionarios">
  <p-panel>
    <ng-template pTemplate="header">
      <div class="flex align-items-center justify-content-between w-full">
        <span class="font-bold">Lista de Funcionários</span>
        <p-button
          (click)="recarregarPagina()"
          severity="secondary"
          icon="pi pi-refresh"
          [outlined]="true"
          styleClass="border-none"></p-button>
      </div>
    </ng-template>

    <p-table
      dataKey="nome"
      [value]="funcionarios"
      [tableStyle]="{ 'min-width': '60rem' }"
      styleClass="p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let titulo of titulosDaTabela">{{ titulo }}</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-funcionario let-expanded="expanded">
        <tr>
          <td>
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="funcionario"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td>{{ funcionario.cpf | ocultarCpf }}</td>
          <td>{{ funcionario.nome }}</td>
          <td>{{ funcionario.telefone }}</td>
          <td>{{ funcionario.email }}</td>
          <td>{{ funcionario.salario | currency : 'BRL' }}</td>
          <td class="flex">
            <p-button
              (click)="navegarParaEdicaoFuncionario(funcionario.cpf)"
              icon="pi pi-pencil"
              [rounded]="true"
              [text]="true"
              severity="secondary"></p-button>
          </td>

          <td>
            <p-button
              (click)="removerFuncionario(funcionario.cpf)"
              icon="pi pi-times"
              [rounded]="true"
              [text]="true"
              severity="danger "></p-button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion" let-funcionario dataKey="id">
        <tr>
          <td colspan="10">
            <div class="p-1">
              <p>
                Data de Nascimento: {{ funcionario.data_nascimento }} <br />
                Departamento: {{ funcionario.departamento_id }}<br />
                Em atividade: {{ funcionario.em_atividade }}<br />
              </p>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</ng-container>

<ng-container *ngIf="error$ | async as mensagemDeErroDaApi">
  <p-messages
    *ngIf="mensagemDeErroDaApi !== null"
    [(value)]="mensagemErroApi"
    [showTransitionOptions]="'300ms'"
    [enableService]="false"
    [closable]="false"></p-messages>
</ng-container>
